<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="List of restaurant in Indonesia" />
    <meta name="theme-color" content="#9d2d3e" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" type="image/png" href="./images/favicon.png" />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png" />
    <script
      src="https://kit.fontawesome.com/b4c366e4be.js"
      crossorigin="anonymous"
    ></script>
    <title>RestoRound</title>
  </head>
  <body>
    <a href="#restaurant-list" class="skip-content">Skip To Content</a>
    <header id="nav-section" aria-label="navigation section">
      <div class="brand-container" tabindex="0">
        <!-- <img src="../public/images/chef_image.png" alt="" width="40" /> -->
        <a href="#/home" class="brand"><h1>RestoRound</h1></a>
      </div>
      <a class="hamburger" tabindex="0" href="#" id="hamburgerButton">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </a>
      <nav class="nav" id="navDrawer">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorites">Favorite</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/farhan-putra06/"
              target="_blank"
              >About</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main id="restaurant-list" tabindex="0">
      <!-- <section
        id="hero-container"
        class="hero__wrapper"
        aria-label="restaurant-image"
        tabindex="0"
      >
        <h1>FIND YOUR FAVORITE RESTAURANT IN INDONESIA!</h1>
        <p>You can add to favorite if you like</p>
      </section> -->

      <!-- <h1>Restaurant List</h1>
      <section
        class="resto-list"
        id="resto-list"
        aria-label="list of restaurant"
      >
      </section> -->
    </main>

    <footer>Copyright &#169; 2024 - RestoRound</footer>
  </body>
</html>
